 html { overflow-y: scroll; overflow-x: hidden }

body {
      min-width: 308px;
      
      font-family: Ubuntu;
      font-size: 14px;
      
      padding: 0;
      margin: 0;
      border: 0;
}

div.module {
	width: 300px;
		
	border-radius: 2px;
	
	background-color: #6D7B8D;
	color: white;
		
	margin: 1px;
	cursor: default;
}

div.module:hover {
	background-color: #616D7E;
}

div.title {
  	padding: 1px;
  	padding-bottom: 3px;
  	padding-left: 5px;
}

div.registrationCount {
	float: right;
	width: 30px;
	height: 20px;
	
	border-radius: 2px;
	text-align: center;
	
	color: black;
}

th {
	text-align: left;
}

th.nr {
	text-align: center;
}

td.name {
	width: 75%;
}

td.nr {
	width: 25px;
	text-align: center;
}

td.points {
	text-align: center;
}

div.green {
	background-color: #6CC417;
}

div.red { 
	background-color: #C34A2C;
}

div.yellow {
	background-color: rgb(0,120,120);
}

/* Scrollbar */
::-webkit-scrollbar
{
width: 5px;
height: 5px;
}
::-webkit-scrollbar-track-piece
{
background-color: #ffffff;
-webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical
{
height: 5px;
background-color: #666;
-webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal
{
width: 5px;
background-color: #666;
-webkit-border-radius: 3px;
}

