html { overflow-y: scroll; overflow-x: hidden }

body {
      min-width: 348px;
      
      font-family: Helvetica, Verdana;
      font-size: 12px;
      
      padding: 0;
      margin: 0;
      border: 0;
}

div.module {
	width: 340px;
	border-radius: 5px;
	background: -webkit-gradient(linear, 0 0, 0 22, from(#666), to(#333));

	line-height: 20px;
	vertical-align: middle;
	
	color: white;
	margin: 1px;
	cursor: default;
}

div.module:hover {
	background-color: #616D7E;
}

div.title {
  	padding: 1px;
  	padding-left: 5px;
}

div.registrationCount {
	float: right;
	width: 50px;
	line-height: 20px;
	
	border-radius: 2px;
	text-align: center;
	
	color: white;
}

table.module {
	width: 100%;	
}

th {
	text-align: left;
}

th.nr, th.points {
	text-align: center;
}

td.nr {
	width: 25px;
	text-align: center;
}

td.name {
	width: 265px;
}

td.points {
	width: 50px;
	text-align: center;
}

div.green {
	background: -webkit-gradient(linear, 0 0, 0 20, from(#093), to(#060));
}

div.red { 
	background-color: #C34A2C;
}

div.yellow {
	background-color: rgb(0,120,120);
}

/* Scrollbar */
::-webkit-scrollbar
{
width: 5px;
height: 5px;
}
::-webkit-scrollbar-track-piece
{
background-color: #ffffff;
-webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical
{
height: 5px;
background-color: #666;
-webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal
{
width: 5px;
background-color: #666;
-webkit-border-radius: 3px;
}

