body {
	font-family: Helvetica, Verdana;
	font-size: 15px;
	text-align:center;
	
	padding: 0;
	margin: 0;
}

div#status{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	
	width: 570px;
	height: 30px;
	line-height: 30px;
	
	vertical-align: middle;
	
	background-color: #083;
	border-radius: 5px;
}

div.options {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;

	padding: 10px;

	text-align: left;

	width: 550px;

	border: 1px solid grey;
	border-radius: 5px;
}

div#header {
	text-align: center;
	
	margin-bottom: 15px;
	
	font-weight: bold;
}

div.option {
	clear: both;
}

div.label {
	float:left;
	width: 150px;
	padding-top: 4px;
}

div.desc {
	float:right;
	width: 400px;
	
	font-size: small;
	font-style: italic;
	color: gray;
	
	margin-bottom: 10px;
}

select { 
	width: 204px;
}

input {
	width: 200px;
}

button#save {
	width: 100%;
}
